@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch&display=swap');
body{font-family: 'Chakra Petch', sans-serif;}
.eveildunean section.window-content {background:url("../css/fond.jpg");background-size: cover;}
.eveildunean.window-app .window-content{overflow:hidden }
.eveildunean .part1, .eveildunean .part2{width: calc(50% - 20px);background: url(../css/paper.jpg);float: left;margin: 50px 0px 0 20px;height: calc(100% - 60px);}
.eveildunean .part2{padding:5px;}
.eveildunean .trombone{background:url("../css/trombone.png");background-size: cover;width: 42px;height: 88px;display: block;position: absolute;top: 26px;left: 50px;rotate: 292deg;pointer-events: none;}

.eveildunean .photo{background: url("../css/photo.png");background-size: cover; height: 300px; width: 300px;top: 40px;position: absolute;left: 2px;}
.eveildunean .photo img{rotate: 342deg;height: 210px;width: 210px;position: relative;top: 45px;left: 47px}
.eveildunean .head{width: calc(100% - 330px);position: relative;left: 300px;top: 10px;}
.eveildunean .grid-2col{display: inline-block;}
.eveildunean .col2{display:block;width:100% }
.eveildunean .col21{display:inline-block;width:45% }
.eveildunean .col21 h2{margin-top:20px }
.eveildunean .col2 .span{display: inline-block;}
.eveildunean .col2 .span.deno{width:100%;}
.eveildunean .col2 input{display: inline-block;width: 40px}
.eveildunean .nomperso{border: none;font-size: 2em;}
.eveildunean main{width:calc(100% - 10px);padding: 5px; display: block;}
.eveildunean .stat input{width: 40px;}
.eveildunean .stat .compt{display: inline-block;width: 32%}
.eveildunean .stat .jetdedes{display: inline-block;width: calc(100% - 45px);}
.eveildunean .histoire{min-height: 85px;resize: none}

.eveildunean .item-name,.eveildunean .item-genre,.eveildunean .item-portee,.eveildunean .item-dommage,.eveildunean .item-qt,.eveildunean .item-poid,.eveildunean .item-poids,.eveildunean .item-valeur,.eveildunean .item-qty,.eveildunean .item-controls{display:inline-block;float: left}
.eveildunean .item-genre,.eveildunean .item-portee,.eveildunean .item-dommage,.eveildunean .item-poids,.eveildunean .item-qt,.eveildunean .item-poid,.eveildunean .item-valeur,.eveildunean .item-qty{width: 40px;height: 20px}
.eveildunean .items-list{list-style: none;padding: 0;border: 0;}
.eveildunean .items-list li{width: 100%;height:20px;clear: both;}
.eveildunean .items-list li:nth-child(2n){background-color:rgb(0 0 0 / 50%);color:#fff}
.eveildunean .part2 h2{clear: both;}
.eveildunean .item-name{padding-left: 20px;width:calc(100% - 300px)}
.eveildunean .item-controls{width: 60px}

.eveildunean .etat a{width: 38px;height: 38px;border: solid 1px #1290c2;opacity: 0.5;margin-top: 10px;margin-bottom: 20px;display: inline-block;border-radius: 50%;}
.eveildunean .etat0 {background: url(" ../assets/icon/sleep.png");background-size: cover;margin-left: 5px}
.eveildunean .etat1 {background: url(" ../assets/icon/daze.png");background-size: cover;}
.eveildunean .etat2 {background: url(" ../assets/icon/blind.png");background-size: cover;}
.eveildunean .etat3 {background: url(" ../assets/icon/deaf.png");background-size: cover;}
.eveildunean .etat4 {background: url(" ../assets/icon/silenced.png");background-size: cover;}
.eveildunean .etat5 {background: url(" ../assets/icon/terror.png");background-size: cover;}
.eveildunean .etat6 {background: url(" ../assets/icon/fire.png");background-size: cover;}
.eveildunean .etat7 {background: url(" ../assets/icon/frozen.png");background-size: cover;}
.eveildunean .etat8 {background: url(" ../assets/icon/invisible.png");background-size: cover;}
.eveildunean .etat9 {background: url(" ../assets/icon/angel.png");background-size: cover;}
.eveildunean .etat10 {background: url(" ../assets/icon/poison.png");background-size: cover;}
.eveildunean .etat11 {background: url(" ../assets/icon/blood.png");background-size: cover;}
.eveildunean .etat12 {background: url(" ../assets/icon/unconscious.png");background-size: cover;}
.eveildunean .etat13 {background: url(" ../assets/icon/aucune.png");background-size: cover;cursor: pointer}
.eveildunean .maindroite,.eveildunean .maingauche,.eveildunean .armor{width: 20px; height: 20px; display: inline-block;cursor: pointer;}
.eveildunean .maindroite {background: url(" ../assets/icon/hand.png");background-size: cover;}
.eveildunean .maingauche {background: url(" ../assets/icon/hand2.png");background-size: cover;}
.eveildunean .armor {background: url(" ../assets/icon/armor.png");background-size: cover;}

.eveildunean .carac,.eveildunean .items,.eveildunean .spells,.eveildunean .stats {display: none; overflow: auto;}
.eveildunean .features a {padding: 5px;height: 20px;display: inline-block;}

.objets{background: url(../css/paper.jpg); background-size: cover;}
.objets h1 input{border: none;}

.eveildunean .encom{width: 100%;height: 28px;margin-bottom: 20px}
.eveildunean .encom p{width: 100%;margin-left: 5px;height: 28px;font-size: 0.8em;color: #000;margin-top: -26px;}
.eveildunean .barenc{width: 100%;background: #0080c0;height: 26px;display: block;}
.eveildunean .encom input {border: none;background: none;color: #000}