<form class="{{cssClass}} eveildunean flexcol" autocomplete="off">
<div class="fiche">
	{{!-- Sheet Header --}}
	<div class="part1">
		<div class="photo"><img src="{{actor.img}}" data-edit="img" title="{{actor.name}}" /><div class="trombone"></div></div>
		<div class="head">
			<input class="nomperso" name="name" type="text" value="{{actor.name}}" placeholder="Name"/>
			<div class="rexrow">
				<p>{{localize 'eveildunean.race'}} : <input class="race" type="text" name="system.race" value="{{actor.system.race}}" placeholder="{{localize 'eveildunean.race'}}"/></p>
				<div class="grid-2col" style="width:60%">
					<p>Métier : <input class="metier" name="system.metier" type="text" value="{{actor.system.background.metier}}" placeholder=""/></p>
				</div>
				<div class="grid-2col" style="width:25%">
					<p>Age : <input class="niveau" name="system.level" type="text" value="{{actor.system.level}}" placeholder="1"/></p>
				</div>		
			</div>
			<div class="col2">
				<p>❤ HP</p><input class="hp" name="system.stat.hp.value" type="text" value="{{actor.system.stat.hp.value}}" placeholder="10" /><span>/</span><input class="hpmax" name="system.stat.hp.max" type="text" value="{{actor.system.stat.hp.max}}" placeholder="10"/>
			</div>
			<div class="col2">
				<div class="col21">
					<p>🛡 Armure</p><input class="actarm" name="system.stat.armure.value" type="text" value="{{actor.system.stat.armure.value}}" placeholder="0"/><span >/</span><input class="actarmmax" name="system.stat.armure.max" type="text" value="{{actor.system.stat.armure.max}}" placeholder="0">
				</div>
				<div class="col21">
					<p>🛡 Protection</p><input class="actbou" name="system.stat.protections.value" type="text" value="{{actor.system.stat.protections.value}}" placeholder="0"  /><span >/</span><input  class="actboumax" name="system.stat.protections.max" type="text" value="{{actor.system.stat.protections.max}}" placeholder="0" />
				</div>
			</div>
		</div>
		<main>
			
			<h2>{{localize 'eveildunean.histoire'}}</h2>
				<textarea class="histoire" name="system.histoire">{{actor.system.histoire}}</textarea>
				<div class="stat">
						<div class="compt"><a class="jetdedes" data-name="Agilité" data-dice="1d" data-actionvalue="{{actor.system.attributs.bonus}}" data-attDice="{{actor.system.attributs.Agilité}}">{{localize 'eveildunean.agil'}}</a>
						<input class="cpt0" name="system.attributs.Agilité" type="text" value="{{actor.system.attributs.Agilité}}" placeholder="{{actor.system.attributs.Agilité}}"/>
						</div>
						<div class="compt"><a class="jetdedes" data-name="Artisanat" data-dice="1d" data-actionvalue="{{actor.system.attributs.bonus}}" data-attDice="{{actor.system.attributs.Artisanat}}" title="Construire / Réparer Objet">{{localize 'eveildunean.arti'}}*</a>
						<input class="cpt1" name="system.attributs.Artisanat" type="text" value="{{actor.system.attributs.Artisanat}}" placeholder="{{actor.system.attributs.Artisanat}}"/>
						</div>
						<div class="compt"><a class="jetdedes" data-name="Balistique" data-dice="1d" data-actionvalue="{{actor.system.attributs.bonus}}" data-attDice="{{actor.system.attributs.Balistique}}" title="Réparer les armes / Fabriquer munition">{{localize 'eveildunean.bali'}}*</a>
						<input class="cpt2" name="system.attributs.Balistique" type="text" value="{{actor.system.attributs.Balistique}}" placeholder="{{actor.system.attributs.Balistique}}"/>
						</div>
						<div class="compt"><a class="jetdedes" data-name="Combat" data-dice="1d" data-actionvalue="{{actor.system.attributs.bonus}}" data-attDice="{{actor.system.attributs.Combat}}">{{localize 'eveildunean.comb'}}</a>
						<input class="cpt3" name="system.attributs.Combat" type="text" value="{{actor.system.attributs.Combat}}" placeholder="{{actor.system.attributs.Combat}}"/>
						</div>
						<div class="compt"><a class="jetdedes" data-name="ConGén" data-dice="1d" data-actionvalue="{{actor.system.attributs.bonus}}" data-attDice="{{actor.system.attributs.ConGén}}">{{localize 'eveildunean.cong'}}</a>
						<input class="cpt4" name="system.attributs.ConGén" type="text" value="{{actor.system.attributs.ConGén}}" placeholder="{{actor.system.attributs.ConGén}}"/>
						</div>
						<div class="compt"><a class="jetdedes" data-name="ConSpécif" data-dice="1d" data-actionvalue="{{actor.system.attributs.bonus}}" data-attDice="{{actor.system.attributs.ConSpécif}}">ConSpécif</a>
						<input class="cpt5" name="system.attributs.ConSpécif" type="text" value="{{actor.system.attributs.ConSpécif}}" placeholder="{{actor.system.attributs.ConSpécif}}"/>
						</div>
						<div class="compt"><a class="jetdedes" data-name="Dextérité" data-dice="1d" data-actionvalue="{{actor.system.attributs.bonus}}" data-attDice="{{actor.system.attributs.Dextérité}}">{{localize 'eveildunean.dext'}}</a>
						<input class="cpt6" name="system.attributs.Dextérité" type="text" value="{{actor.system.attributs.Dextérité}}" placeholder="{{actor.system.attributs.Dextérité}}"/>
						</div>
						<div class="compt"><a class="jetdedes" data-name="Diplomatie" data-dice="1d" data-actionvalue="{{actor.system.attributs.bonus}}" data-attDice="{{actor.system.attributs.Diplomatie}}">{{localize 'eveildunean.dipl'}}</a>
						<input class="cpt7" name="system.attributs.Diplomatie" type="text" value="{{actor.system.attributs.Diplomatie}}" placeholder="{{actor.system.attributs.Diplomatie}}"/>
						</div>
						<div class="compt"><a class="jetdedes" data-name="Discrétion" data-dice="1d" data-actionvalue="{{actor.system.attributs.bonus}}" data-attDice="{{actor.system.attributs.Discrétion}}">{{localize 'eveildunean.disc'}}</a>
						<input class="cpt8" name="system.attributs.Discrétion" type="text" value="{{actor.system.attributs.Discrétion}}" placeholder="{{actor.system.attributs.Discrétion}}"/>
						</div>
						<div class="compt"><a class="jetdedes" data-name="Force" data-dice="1d" data-actionvalue="{{actor.system.attributs.bonus}}" data-attDice="{{actor.system.attributs.Force}}">{{localize 'eveildunean.forc'}}</a>
						<input class="cpt9" name="system.attributs.Force" type="text" value="{{actor.system.attributs.Force}}" placeholder="{{actor.system.attributs.Force}}"/>
						</div>
						<div class="compt"><a class="jetdedes" data-name="Investigation" data-dice="1d" data-actionvalue="{{actor.system.attributs.bonus}}" data-attDice="{{actor.system.attributs.Investigation}}">{{localize 'eveildunean.inve'}}</a>
						<input class="cpt10" name="system.attributs.Investigation" type="text" value="{{actor.system.attributs.Investigation}}" placeholder="{{actor.system.attributs.Investigation}}"/>
						</div>
						<div class="compt"><a class="jetdedes" data-name="Jeu" data-dice="1d" data-actionvalue="{{actor.system.attributs.bonus}}" data-attDice="{{actor.system.attributs.Jeu}}">{{localize 'eveildunean.ajeu'}}</a>
						<input class="cpt11" name="system.attributs.Jeu" type="text" value="{{actor.system.attributs.Jeu}}" placeholder="{{actor.system.attributs.Jeu}}"/>
						</div>
						<div class="compt"><a class="jetdedes" data-name="Mécanique" data-dice="1d" data-actionvalue="{{actor.system.attributs.bonus}}" data-attDice="{{actor.system.attributs.Mécanique}}" title="Réparer Véhicule">{{localize 'eveildunean.meca'}}*</a>
						<input class="cpt12" name="system.attributs.Mécanique" type="text" value="{{actor.system.attributs.Mécanique}}" placeholder="{{actor.system.attributs.Mécanique}}"/>
						</div>
						<div class="compt"><a class="jetdedes" data-name="Médecine" data-dice="1d" data-actionvalue="{{actor.system.attributs.bonus}}" data-attDice="{{actor.system.attributs.Médecine}}">{{localize 'eveildunean.mede'}}</a>
						<input class="cpt13" name="system.attributs.Médecine" type="text" value="{{actor.system.attributs.Médecine}}" placeholder="{{actor.system.attributs.Médecine}}"/>
						</div>
						<div class="compt"><a class="jetdedes" data-name="Natation" data-dice="1d" data-actionvalue="{{actor.system.attributs.bonus}}" data-attDice="{{actor.system.attributs.Natation}}">{{localize 'eveildunean.nata'}}</a>
						<input class="cpt14" name="system.attributs.Natation" type="text" value="{{actor.system.attributs.Natation}}" placeholder="{{actor.system.attributs.Natation}}"/>
						</div>
						<div class="compt"><a class="jetdedes" data-name="Navigation" data-dice="1d" data-actionvalue="{{actor.system.attributs.bonus}}" data-attDice="{{actor.system.attributs.Navigation}}">{{localize 'eveildunean.navi'}}</a>
						<input class="cpt15" name="system.attributs.Navigation" type="text" value="{{actor.system.attributs.Navigation}}" placeholder="{{actor.system.attributs.Navigation}}"/>
						</div>
						<div class="compt"><a class="jetdedes" data-name="Négociation" data-dice="1d" data-actionvalue="{{actor.system.attributs.bonus}}" data-attDice="{{actor.system.attributs.Négociation}}">{{localize 'eveildunean.nego'}}</a>
						<input class="cpt16" name="system.attributs.Négociation" type="text" value="{{actor.system.attributs.Négociation}}" placeholder="{{actor.system.attributs.Négociation}}"/>
						</div>
						<div class="compt"><a class="jetdedes" data-name="Perception" data-dice="1d" data-actionvalue="{{actor.system.attributs.bonus}}" data-attDice="{{actor.system.attributs.Perception}}">{{localize 'eveildunean.perc'}}</a>
						<input class="cpt17" name="system.attributs.Perception" type="text" value="{{actor.system.attributs.Perception}}" placeholder="{{actor.system.attributs.Perception}}"/>
						</div>
						<div class="compt"><a class="jetdedes" data-name="Pilotage" data-dice="1d" data-actionvalue="{{actor.system.attributs.bonus}}" data-attDice="{{actor.system.attributs.Pilotage}}">{{localize 'eveildunean.pilo'}}*</a>
						<input class="cpt18" name="system.attributs.Pilotage" type="text" value="{{actor.system.attributs.Pilotage}}" placeholder="{{actor.system.attributs.Pilotage}}"/>
						</div>
						<div class="compt"><a class="jetdedes" data-name="Piratage" data-dice="1d" data-actionvalue="{{actor.system.attributs.bonus}}" data-attDice="{{actor.system.attributs.Piratage}}">{{localize 'eveildunean.pira'}}*</a>
						<input class="cpt19" name="system.attributs.Piratage" type="text" value="{{actor.system.attributs.Piratage}}" placeholder="{{actor.system.attributs.Piratage}}"/>
						</div>
						<div class="compt"><a class="jetdedes" data-name="Pistage" data-dice="1d" data-actionvalue="{{actor.system.attributs.bonus}}" data-attDice="{{actor.system.attributs.Pistage}}">{{localize 'eveildunean.pist'}}</a>
						<input class="cpt20" name="system.attributs.Pistage" type="text" value="{{actor.system.attributs.Pistage}}" placeholder="{{actor.system.attributs.Pistage}}"/>
						</div>
						<div class="compt"><a class="jetdedes" data-name="Religion" data-dice="1d" data-actionvalue="{{actor.system.attributs.bonus}}" data-attDice="{{actor.system.attributs.Religion}}">{{localize 'eveildunean.reli'}}</a>
						<input class="cpt21" name="system.attributs.Religion" type="text" value="{{actor.system.attributs.Religion}}" placeholder="{{actor.system.attributs.Religion}}"/>
						</div>
						<div class="compt"><a class="jetdedes" data-name="Science" data-dice="1d" data-actionvalue="{{actor.system.attributs.bonus}}" data-attDice="{{actor.system.attributs.Science}}">{{localize 'eveildunean.scie'}}</a>
						<input class="cpt22" name="system.attributs.Science" type="text" value="{{actor.system.attributs.Science}}" placeholder="{{actor.system.attributs.Science}}"/>
						</div>
						<div class="compt"><a class="jetdedes" data-name="Survie" data-dice="1d" data-actionvalue="{{actor.system.attributs.bonus}}" data-attDice="{{actor.system.attributs.Survie}}">{{localize 'eveildunean.surv'}}</a>
						<input class="cpt23" name="system.attributs.Survie" type="text" value="{{actor.system.attributs.Survie}}" placeholder="{{actor.system.attributs.Survie}}"/>
						</div>
						<div class="compt"><a class="jetdedes comptir" data-name="Tir" data-dice="1d" data-actionvalue="{{actor.system.attributs.bonus}}" data-attDice="{{actor.system.attributs.Tir}}" data-armed="{{actor.system.attributs.armed}}" data-degat="{{actor.system.attributs.degatd}}" data-charged="{{actor.system.attributs.charged}}">{{localize 'eveildunean.atir'}}</a>
						<input class="cpt24" name="system.attributs.Tir" type="text" value="{{actor.system.attributs.Tir}}" placeholder="{{actor.system.attributs.Tir}}"/>
						</div>
						<div class="compt"><a class="jetdedes" data-name="Visée" data-dice="1d" data-actionvalue="{{actor.system.attributs.bonus}}" data-attDice="{{actor.system.attributs.Visée}}">{{localize 'eveildunean.vise'}}</a>
						<input class="cpt25" name="system.attributs.Visée" type="text" value="{{actor.system.attributs.Visée}}" placeholder="{{actor.system.attributs.Visée}}"/>
						</div>
						<div class="clear"></div>

						
						<div class="col21">
							<h2>{{localize 'eveildunean.restant'}}</h2>
							<input class="pointrestant" type="text" value="0" readonly/>
						</div>
						<div class="col21">
							<h2>{{localize 'eveildunean.bonusmj'}}</h2>
							<input class="malussactor" name="system.malus" type="text" value="{{actor.system.malus}}" placeholder="0"/>
						</div>
			</div>

			<!--div class="rexrow stat">
				
				<div class="etat outer">
		    		<div class="inner">
		    			<a class="etat0 chnget" data-lettre="0" data-etat="Endormi" style="opacity: {{actor.system.background.etat.a}};"></a>
						<a class="etat1 chnget" data-lettre="1" data-etat="Etourdi" style="opacity: {{actor.system.background.etat.b}};"></a>
						<a class="etat2 chnget" data-lettre="2" data-etat="Aveugle" style="opacity: {{actor.system.background.etat.c}};"></a>
						<a class="etat3 chnget" data-lettre="3" data-etat="Sourd" style="opacity: {{actor.system.background.etat.d}};"></a>
						<a class="etat4 chnget" data-lettre="4" data-etat="Réduit au silence" style="opacity: {{actor.system.background.etat.e}};"></a>
						<a class="etat5 chnget" data-lettre="5" data-etat="Apeuré" style="opacity: {{actor.system.background.etat.f}};"></a>
						<a class="etat6 chnget" data-lettre="6" data-etat="Brûlant" style="opacity: {{actor.system.background.etat.g}};"></a>
						<a class="etat7 chnget" data-lettre="7" data-etat="Gelé" style="opacity: {{actor.system.background.etat.h}};"></a>
						<a class="etat8 chnget" data-lettre="8" data-etat="Invisible" style="opacity: {{actor.system.background.etat.i}};"></a>
						<a class="etat9 chnget" data-lettre="9" data-etat="Béni" style="opacity: {{actor.system.background.etat.j}};"></a>
						<a class="etat10 chnget" data-lettre="10" data-etat="Empoisonné" style="opacity: {{actor.system.background.etat.k}};"></a>
						<a class="etat11 chnget" data-lettre="11" data-etat="Saignement" style="opacity: {{actor.system.background.etat.l}};"></a>
						<a class="etat12 chnget" data-lettre="12" data-etat="Inconscient" style="opacity: {{actor.system.background.etat.m}};"></a>
						<a class="etat13 chnget" data-lettre="13" style="opacity: {{actor.system.background.etat.n}};"></a>
		    		</div>
					
				</div>
			</div-->
			<div class="clear"></div>
		</main>
	</div>
	<div class="part2">

						
			<h2>{{localize 'eveildunean.armes'}}</h2>
			<ol class="items-list">
                <li class="item rexrow item-header">
                  <div class="item-name">{{localize 'eveildunean.nom'}}</div>
                  <div class="item-genre">Type</div>
                  <div class="item-portee">{{localize 'eveildunean.l1'}}</div>
                  <div class="item-dommage">{{localize 'eveildunean.l2'}}</div>
                  <div class="item-poids">{{localize 'eveildunean.l3'}}</div>
                  <div class="item-valeur">{{localize 'eveildunean.l4'}}</div>
                  <div class="item-qty">{{localize 'eveildunean.l6'}}</div>
                  <div class="item-controls"></div>
                </li>
            {{#each actor.arme as |item id|}}
                <li class="item rexrow" data-item-id="{{item._id}}">
                    <div class="item-name" title="{{item.name}} {{item.system.description}}" style="background: url({{item.img}}) left center no-repeat;background-size: contain;">{{item.name}}</div>
                    <div class="item-genre" title="{{item.system.genre}}">{{item.system.genre}}</div>
                    <div class="item-portee">{{item.system.portee}}</div>
                    <div class="item-dommage">{{item.system.degats}}</div>
                    <div class="item-poids">{{item.system.poids}}</div>
                    <div class="item-valeur">{{item.system.valeur}}</div>
                    <div class="item-qty">{{item.system.quantite}}</div>
                    <div class="item-controls">
                        <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
                        <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
                    </div>

                </li>
            {{/each}}
    		</ol>
	    	<h2 style="margin-top: 20px">{{localize 'eveildunean.armures'}}</h2>
			<ol class="items-list">
                <li class="item rexrow item-header">
                  <div class="item-name">{{localize 'eveildunean.nom'}}</div>
                  <div class="item-genre">Type</div>
                  <div class="item-portee">{{localize 'eveildunean.l7'}}</div>
                  <div class="item-dommage">{{localize 'eveildunean.l8'}}</div>
                  <div class="item-poids">{{localize 'eveildunean.l3'}}</div>
                  <div class="item-valeur">{{localize 'eveildunean.l4'}}</div>
                  <div class="item-qty">{{localize 'eveildunean.l6'}}</div>
                  <div class="item-controls">
                  </div>
                </li>
            {{#each actor.armure as |item id|}}
                <li class="item rexrow" data-item-id="{{item._id}}">
                    <div class="item-name" title="{{item.name}} {{item.system.description}}" style="background: url({{item.img}}) left center no-repeat;background-size: contain;">{{item.name}}</div>
                    <div class="item-genre" title="{{item.system.genre}}">{{item.system.genre}}</div>
                    <div class="item-portee">{{item.system.resitance}}</div>
                    <div class="item-dommage">{{item.system.hp.max}}</div>
                    <div class="item-poids">{{item.system.poids}}</div>
                    <div class="item-valeur">{{item.system.valeur}}</div>
                    <div class="item-qty">{{item.system.quantite}}</div>
                    <div class="item-controls">
                        <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
                        <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
                    </div>
                </li>
            {{/each}}
    		</ol>
	    	<h2 style="margin-top: 20px">{{localize 'eveildunean.inv'}} <a class="item-control item-create" title="Create Item" data-type="objet" style="float: right;"><i class="fas fa-plus"></i></a></h2>
			<ol class="items-list">
                <li class="item rexrow item-header">
                  <div class="item-name" style="width:calc(100% -  220px);">{{localize 'eveildunean.nom'}}</div>
                  <div class="item-genre">Type</div>
                  <div class="item-poids">{{localize 'eveildunean.l3'}}</div>
                  <div class="item-valeur">{{localize 'eveildunean.l4'}}</div>
                  <div class="item-qty">{{localize 'eveildunean.l6'}}</div>
                  <div class="item-controls">
                  </div>
                </li>
            {{#each actor.inventaire as |item id|}}
                <li class="item rexrow" data-item-id="{{item._id}}">
                    <div class="item-name" title="{{item.name}} {{item.system.description}}" style="background: url({{item.img}}) left center no-repeat;background-size: contain;width:calc(100% -  220px);">{{item.name}}</div>
                    <div class="item-genre" title="{{item.system.genre}}">{{item.system.genre}}</div>
                    <div class="item-poids">{{item.system.poids}}</div>
                    <div class="item-valeur">{{item.system.valeur}}</div>
                    <div class="item-qty">{{item.system.quantite}}</div>
                    <div class="item-controls">
                        <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
                        <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
                    </div>
                </li>
            {{/each}}
    		</ol>

			<h2 style="margin-top: 20px">{{localize 'eveildunean.sort'}}</h2>
			<ol class="items-list">
                <li class="item rexrow item-header">
                  <div class="item-name" style="width:calc(100% -  300px);">{{localize 'eveildunean.nom'}}</div>              
                  <div class="item-genre" style="width:60px;">{{localize 'eveildunean.type'}}</div>
                  <div class="item-genre" style="width:60px;">Type</div>
                  <div class="item-portee">Lvl</div>
                  <div class="item-poids">Util.</div>
                  <div class="item-qty">Max/J</div>
                  <div class="item-controls">
                  </div>
                </li>
            {{#each actor.sort as |item id|}}
                <li class="item rexrow" data-item-id="{{item._id}}">
                    <div class="item-name" title="{{item.name}} {{item.system.description}}" style="width:calc(100% -  300px);background: url({{item.img}}) left center no-repeat;background-size: contain;">{{item.name}}</div>
                    <div class="item-genre" title="{{item.system.genre}}" style="width:60px;">{{item.system.genre}}</div>
                    <div class="item-genre" title="{{item.system.techno}}" style="width:60px;">{{item.system.techno}}</div>
                    <div class="item-portee">{{item.system.portee}}</div>
                    <div class="item-poids">{{item.system.poids}}</div>
                    <div class="item-qty">{{item.system.quantite}}</div>
                    <div class="item-controls">
                        <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
                        <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
                    </div>

                </li>
            {{/each}}
    		</ol>
	</div>
					

				
	
</div>
</form>